{% extends 'vehiculo/base.html' %}
{% load crispy_forms_tags %}
{% block formulario %}
<div style="margin:20px 20px;">
    <form action="/vehiculo/add/url/" method="post">
        {% csrf_token %}
        {{form|crispy}}
        Marca:
        <select name="marca">
            <option value="Fiat">Fiat</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Ford">Ford</option>
            <option value="Toyota">Toyota</option>
        </select>
        <br><br>
        Modelo:
        <input name="modelo">
        <br><br>
        Serial Carrocería:
        <input name="serial_carro">
        <br><br>
        Serial Motor:
        <input name="serial_motor">
        <br><br>
        Categoria:
        <select name="categoria">
            <option value="Particular">Particular</option>
            <option value="Transporte">Transporte</option>
            <option value="Carga">Carga</option>
        </select>
        <br><br>
        Precio:
        <input name="precio">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock formulario %}